{% extends "abono/base.html" %}
{% block title %}AdminSIT | Añadir Plan{% endblock title %}
{% block contenido %}
<div class="content body">
    <h1>Añadir Elemento</h1>
    <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Plan</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form role="form" method="POST" action="">{% csrf_token %}
                <!-- text input -->
                <div class="form-group">
                  <label>Abono</label>
                  {{ form.abono }}
                </div>
                <div class="form-group">
                  <label>Fecha</label>
                  {{ form.fecha }}
                </div>
                <div class="form-group">
                  <label>Kilos</label>
                  {{ form.kilos }}
                </div>
                <div class="form-group">
                  <label>Campo</label>
                  {{ form.campo }}
                </div>
		<div class="box-footer">
			<input type="submit" class="btn btn-block btn-primary" value="Añadir Abono" />
		</div>
		</form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</div>
{% endblock contenido %}
