{% extends "abono/base.html" %}
{% block title %}AdminSIT | Lista Planes{% endblock title %}
{% block contenido %}
<div class="content body">
    <h1>Lista Planes</h1>
    <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Datos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                    <th style="width: 10px">Abono</th>
                    <th>Fecha</th>
                    <th>Kilos</th>
                    <th>Campo</th>
                </tr>
                {%for plan in object_list %}
                <tr>
                    <td><a href="#">{{ plan.abono }}</a></td>
                    <td>{{ plan.fecha }}</td>
                    <td>{{ plan.kilos }}</td>
		    <td>{{ plan.campo }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</div>
{% endblock contenido %}
