{% extends "base.html" %}
{% block title %}AdminSIT | Lista Dotacion{% endblock title %}
{% block contenido %}
<div class="content body">
    <h1>Lista Dotacion</h1>
    <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Bordered Table</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Fecha</th>
                    <th>Metros Cúbicos</th>
                    <th>Acción</th>
                </tr>
                {%for dotacion in object_list %}
                <tr>
                    <td>{{ dotacion.id }}</td>
                    <td><a href="#">{{ dotacion.fecha }}</a></td>
                    <td>{{ dotacion.mcubicos }}</td>
                    <td><a href="#" class="glyphicon glyphicon-pencil"></a><a href="{% url 'dotacion_delete' dotacion.pk %}" class="glyphicon glyphicon-trash"></a></td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</div>
{% endblock contenido %}