{% extends "base.html" %}
{% block title %}AdminSIT | Añadir Abono Equivalente{% endblock title %}
{% block contenido %}
<div class="content body">
    <h1>Añadir Elemento</h1>
    <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Abono Equivalente</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form role="form" method="POST" action="">{% csrf_token %}
                <!-- text input -->
                <div class="form-group">
                  <label>Nombre</label>
                  {{ form.nombre }}
                </div>
                <div class="form-group">
                  <label>Kilos de Nitrógeno</label>
                  {{ form.nitrogenok }}
                </div>
                <div class="form-group">
                  <label>Kilos de Fósforo</label>
                  {{ form.fosforok }}
                </div>
                <div class="form-group">
                  <label>Kilos de Potasio</label>
                  {{ form.potasiok }}
                </div>
                <div class="form-group">
                  <label>Kilos de Azufre</label>
                  {{ form.azufrek }}
                </div>
                <div class="form-group">
                  <label>Kilos de Mágnesio</label>
                  {{ form.magnesiok }}
                </div>
		<div class="box-footer">
			<input type="submit" class="btn btn-block btn-primary" value="Añadir Abono" />
		</div>
		</form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</div>
{% endblock contenido %}
