{% extends "base.html" %}
{% block title %}AdminSIT | Lista Abonos Comerciales{% endblock title %}
{% block contenido %}
<div class="content body">
    <h1>Lista Abonos Equivalentes</h1>
    <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Datos</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                    <th style="width: 10px">Nombre</th>
                    <th>Nitrogeno</th>
                    <th>Fosforo</th>
                    <th>Potasio</th>
                </tr>
                {%for equiva in object_list %}
                <tr>
                    <td><a href="#">{{ abono.nombre }}</a></td>
                    <td>{{ equiva.nitrogenok }}</td>
                    <td>{{ equiva.fosforok }}</td>
		    <td>{{ equiva.potasiok }}</td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</div>
{% endblock contenido %}
