<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.5
    </div>
    <strong>Copyright &copy; 2016-2017 <a href="https://carloslatorre.net">Carlos Latorre</a>.</strong> All rights
    reserved.
</footer>