{% extends "base.html" %}
{% block title %}AdminSIT | Inicio{% endblock title %}
{% block contenido %}
<div class="content body">
    <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Campos</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
                        <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Alias</th>
                    <th>Hectareas</th>
                    <th>Agua</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for campo in campos %}
                  <tr>
                    <td><a href="{% url 'campo_detalle' pk=campo.pk %}">{{ campo.nombre }}</a></td>
                    <td>{{ campo.alias }}</td>
                    <td><span class="label label-success">{{ campo.hectareas }}</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">{{ campo.totalagua }}</div>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <a href="{% url 'campo_add' %}" class="btn btn-sm btn-info btn-flat pull-left">Nuevo Campo</a>
              <a href="{% url 'campo_lista' %}" class="btn btn-sm btn-default btn-flat pull-right">Todos los Campos</a>
            </div>
            <!-- /.box-footer -->
          </div>
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Gráfica Agua</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="lineChart" style="height:250px"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</div>
{% endblock contenido %}
{% block js %}
<script>
$(function () {
    var areaChartData = {
      labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
      datasets: [
        {
          label: "Real",
          fillColor: "rgba(210, 214, 222, 1)",
          strokeColor: "rgba(210, 214, 222, 1)",
          pointColor: "rgba(210, 214, 222, 1)",
          pointStrokeColor: "#c1c7d1",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)",
          data: {{ datosreal }}
        },
        {
          label: "Estimado",
          fillColor: "rgba(60,141,188,0.9)",
          strokeColor: "rgba(60,141,188,0.8)",
          pointColor: "#3b8bba",
          pointStrokeColor: "rgba(60,141,188,1)",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(60,141,188,1)",
          data: {{ datosreal }}
        }
      ]
    };
    var areaChartOptions = {
      maintainAspectRatio: true,
      responsive: true
    };
    var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
    var lineChart = new Chart(lineChartCanvas);
    var lineChartOptions = areaChartOptions;
    lineChartOptions.datasetFill = false;
    lineChart.Line(areaChartData, lineChartOptions);
});
</script>
{% endblock js %}
