{% load staticfiles %}
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
<!-- Sidebar user panel -->
<div class="user-panel">
  <div class="pull-left image">
<img src="{% static 'img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
  </div>
  <div class="pull-left info">
<p>{{ user.username }}</p>
<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
  </div>
</div>
<!-- search form -->
<form action="#" method="get" class="sidebar-form">
  <div class="input-group">
<input type="text" name="q" class="form-control" placeholder="Buscar...">
    <span class="input-group-btn">
      <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
      </button>
    </span>
  </div>
</form>
<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
  <li class="header">Menú Principal</li>
  <li><a href="{% url 'index' %}"><i class="fa fa-dashboard"></i> <span>Inicio</span></a></li>
  <li class="treeview">
  	<a href="#">
        <i class="fa fa-map-signs"></i> <span>Campo</span>
        <span class="pull-right-container">
        	<i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
		<li><a href="{% url 'campo_add' %}"><i class="fa fa-circle-o"></i>Nuevo Campo</a></li>
	        <li><a href="{% url 'campo_lista' %}"><i class="fa fa-circle-o"></i>Lista Campo</a></li>
		<li><a href="{% url 'campo_import' %}"><i class="fa fa-circle-o"></i>Importar Campos</a></li>
        </ul>
  </li>
  <li class="treeview">
      <a href="#">
      <i class="fa fa-tint"></i><span>Agua</span>
      <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
      </span>
      </a>
      <ul class="treeview-menu">
	  <li><a href="{% url 'agua_add' %}"><i class="fa fa-circle-o"></i>Añadir Lectura</a></li>
          <li><a href="{% url 'dotacion_add' %}"><i class="fa fa-circle-o"></i>Añadir Dotación</a></li>
          <li><a href="{% url 'dotacion_lista' %}"><i class="fa fa-circle-o"></i>Lista Dotación</a></li>
      </ul>
  </li>
  <li class="treeview">
  	<a href="#">
        <i class="fa fa-industry"></i> <span>Abono</span>
        <span class="pull-right-container">
        	<i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
		<li><a href="{% url 'abono_add' %}"><i class="fa fa-circle-o"></i>Nuevo Abono Comercial</a></li>
		<li><a href="{% url 'abono_lista' %}"><i class="fa fa-circle-o"></i>Listado Abonos Comerciales</a></li>
	        <li><a href="{% url 'equivalencia_add' %}"><i class="fa fa-circle-o"></i>Nuevo Abono Equivalente</a></li>
		<li><a href="{% url 'equivalencia_lista' %}"><i class="fa fa-circle-o"></i>Listado Abonos Equivalentes</a></li>
        </ul>
  </li>
  <li class"treeview">
	<a href="#">
	<i class="fa fa-calendar-check-o"></i><span>Plan Abonado</span>
	<span class="pull-right-container">
	<i class="fa fa-angle-left pull-right"></i>
	</span>
	</a>
	<ul class="treeview-menu">
		<li><a href="#"><i class="fa fa-circle-o"></i>Añadir Plan</a></li>
		<li><a href="#"><i class="fa fa-circle-o"></i>Listado Planes</a></li>
	</ul>
  </li>
  <li><a href="{% url 'campana_add' %}"><i class="fa fa-money"></i><span>Añadir Campaña</span></a></li>
</ul>
  </section>
  <!-- /.sidebar -->
</aside>
