{% extends "base.html" %}
{% block title %}AdminSIT | Lista Campos{% endblock title %}
{% block contenido %}
<div class="content body">
    <h1>Lista Campos</h1>
    <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">Campos <a href="{% url 'campo_export' %}" class="glyphicon glyphicon-export"></a> </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Nombre</th>
                    <th>Alias</th>
                    <th>Hectareas</th>
                    <th>Poligono</th>
                    <th>Parcela</th>
                    <th>Acción</th>
                </tr>
                {%for campo in object_list %}
                <tr>
                    <td>{{ campo.id }}</td>
                    <td><a href="{% url 'campo_detalle' pk=campo.pk %}">{{ campo.nombre }}</a></td>
                    <td>{{ campo.alias }}</td>
                    <td>{{ campo.hectareas }}</td>
                    <td>{{ campo.poligono }}</td>
                    <td>{{ campo.parcela }}</td>
                    <td><a href="{% url 'campo_update' campo.pk %}" class="glyphicon glyphicon-pencil"></a><a href="{% url 'campo_delete' campo.pk %}" class="glyphicon glyphicon-trash"></a></td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</div>
{% endblock contenido %}
