{% extends "base.html" %}
{% block title %}AdminSIT | Importar Campos{% endblock title %}
{% block contenido %}
<div class="content body">
    <h1>Importar Elementos</h1>
    <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Campo</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form role="form" method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
		<div class="form-group">
			<label for="campofileinput">Añadir Fichero</label>
	                <input type="file" name="campofile" id="campofileinput">
			<p class="help-block">Sube un fichero en formato csv.</p>
		<div class="box-footer">
			<input type="submit" class="btn btn-block btn-primary" value="Importar Campos" />
		</div>
              </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</div>
{% endblock contenido %}
