{% extends "base.html" %}
{% block title %}AdminSIT | Detalle del campo {{ campo.nombre }}{% endblock title %}
{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        <h3 class="profile-username text-center">{{ campo.nombre }}</h3>
                        <p class="text-muted text-center">#{{ campo.id }}</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Poligono</b> <a class="pull-right">{{ campo.poligono }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Parcela</b> <a class="pull-right">{{ campo.parcela }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-body">
                        <strong><i class="fa fa-hand-o-right margin-r-5"></i> Hectáreas</strong>
                        <p class="text-muted">
                            <strong>{{ campo.hectareas }}</strong>
                        </p>
                        <strong><i class="fa fa-calendar-check-o margin-r-5"></i> Año de plantación</strong>
                        <p class="text-muted">
                            <strong>{{ campo.anoplantacion }}</strong>
                        </p>
                        <strong><i class="fa fa-tree margin-r-5"></i> Número de Arboles</strong>
                        <p class="text-muted">
                            <strong>{{ campo.numarboles }}</strong>
                        </p>
                        <strong><i class="fa fa-map-pin margin-r-5"></i> Variedad</strong>
                        <p class="text-muted">
                            <strong>{{ campo.variedad }}</strong>
                        </p>
                        <strong><i class="fa fa-tint margin-r-5"></i> Dotación Mensual</strong>
                        <p class="text-muted">
                            <strong>{{ dotacion }}</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#agua" data-toggle="tab">Agua</a></li>
                        <li><a href="#campana" data-toggle="tab">Campañas</a></li>
                        <li><a href="#abonado" data-toggle="tab">Abonado</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="agua">
                            {% if aguas %}
                            <div class="info-box">
                                <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>
                                <div class="info-box-content">
                                  <span class="info-box-text">Consumo Agua Mes</span>
                                  <span class="info-box-number">{{ totalagua }}</span>
                                </div>
                            </div>
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Cantidad</th>
                                    <th>Fecha Lectura</th>
                                    <th>Acción</th>
                                </tr>
                                {% for agua in aguas %}
                                <tr>
                                    <td>{{ agua.id }}</td>
                                    <td>{{ agua.cantidad }}</td>
                                    <td>{{ agua.fecha }}</td>
                                    <td><a href="{% url 'agua_delete' pk=agua.pk %}" class="glyphicon glyphicon-trash"></a></td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% else %}
                            <div class="alert alert-warning alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4><i class="icon fa fa-warning"></i> Alerta!</h4>
                                    No hay ninguna lectura añadida.
                            </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="campana">
                            {% if campanas %}
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Año</th>
                                    <th>Kilos</th>
                                    <th>Ingresos</th>
                                    <th>Acción</th>
                                </tr>
                                {% for campana in campanas %}
                                <tr>
                                    <td>{{ campana.id }}</td>
                                    <td>{{ campana.recogida }}</td>
                                    <td>{{ campana.kilos }}</td>
                                    <td>{{ campana.dinero }}
                                    <td><a href="{% url 'campana_delete' pk=campana.pk %}" class="glyphicon glyphicon-trash"></a></td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% else %}
                            <div class="alert alert-warning alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4><i class="icon fa fa-warning"></i> Alerta!</h4>
                                    No hay ninguna campaña. Añade campañas a este Campo!
                            </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="abonado">
                            {% if abonado %}
                            Abonado
                            {% else %}
                            <div class="alert alert-warning alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4><i class="icon fa fa-warning"></i> Alerta!</h4>
                                    No hay ningún plan de abonado. Tienes el plan de abonado? ¡Añadelo!
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}