{% extends "base.html" %}
{% block title %}AdminSIT | Actualización Campo{% endblock title %}
{% block contenido %}
<div class="content body">
    <h1>Actualizar Elemento</h1>
    <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Campo</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form role="form" method="POST" action="">{% csrf_token %}
                <!-- text input -->
                <div class="form-group">
                  <label>Nombre</label>
                  {{ form.nombre }}
                </div>
                <div class="form-group">
                  <label>Alias</label>
                  {{ form.alias }}
                </div>
                <div class="form-group">
                  <label>Hectareas</label>
                  {{ form.hectareas }}
                </div>
                <div class="form-group">
                  <label>Poligono</label>
                  {{ form.poligono }}
                </div>
                <div class="form-group">
                  <label>Parcela</label>
                  {{ form.parcela }}
                </div>
                <div class="form-group">
                  <label>Año de Plantación</label>
                  {{ form.anoplantacion }}
                </div>
                <div class="form-group">
                  <label>Número de Arboles</label>
                  {{ form.numarboles }}
                </div>
                <div class="form-group">
                  <label>Variedad</label>
                  {{ form.variedad }}
                </div>
                <input type="submit" class="btn btn-block btn-primary" value="Actualizar Campo" />
              </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</div>
{% endblock contenido %}