{% extends "base.html" %}
{% block title %}AdminSIT | Confirmar Borrado Agua{% endblock title %}
{% block contenido %}
<div class="content body">
    <form action="" method="post">{% csrf_token %}
        <p>Estas seguro de borrar esta lectura "{{ agua.id }}"?</p>
        <input class="btn btn-block btn-danger" type="submit" value="Confirmar" />
    </form>
</div>
{% endblock contenido %}