{% extends "base.html" %}
{% block title %}AdminSIT | Actualización Agua{% endblock title %}
{% block contenido %}
<div class="content body">
    <h1>Actualizar Elemento</h1>
    <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Agua</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form role="form" method="POST" action="">{% csrf_token %}
                <!-- text input -->
                <div class="form-group">
                  <label>Cantidad</label>
                  {{ form.cantidad }}
                </div>
                <div class="form-group">
                  <label>Fecha</label>
                  {{ form.fecha }}
                </div>
                <div class="form-group">
                  <label>Campo</label>
                  {{ form.campo }}
                </div>
                <input type="submit" class="btn btn-block btn-primary" value="Actualizar Lectura" />
              </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</div>
{% endblock contenido %}