{% extends "base.html" %}
{% block title %}AdminSIT | Añadir Abono Comercial{% endblock title %}
{% block contenido %}
<div class="content body">
    <h1>Añadir Elemento</h1>
    <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Abono Comercial</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form role="form" method="POST" action="">{% csrf_token %}
                <!-- text input -->
                <div class="form-group">
                  <label>Nombre</label>
                  {{ form.nombre }}
                </div>
                <div class="form-group">
                  <label>Riqueza del Nitrógeno</label>
                  {{ form.nitrogenori }}
                </div>
                <div class="form-group">
                  <label>Riqueza del Fósforo</label>
                  {{ form.fosforori }}
                </div>
                <div class="form-group">
                  <label>Riqueza del Potasio</label>
                  {{ form.potasiori }}
                </div>
                <div class="form-group">
                  <label>Riqueza del Azufre</label>
                  {{ form.azufreri }}
                </div>
                <div class="form-group">
                  <label>Riqueza del Mágnesio</label>
                  {{ form.magnesiori }}
                </div>
		<div class="box-footer">
			<input type="submit" class="btn btn-block btn-primary" value="Añadir Abono" />
		</div>
		</form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</div>
{% endblock contenido %}
