{% extends "base.html" %}
{% block title %}AdminSIT | Añadir Campaña{% endblock title %}
{% block contenido %}
<div class="content body">
    <h1>Añadir Elemento</h1>
    <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Campaña</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form role="form" method="POST" action="">{% csrf_token %}
                <!-- text input -->
                <div class="form-group">
                  <label>Fecha de recogida</label>
                  {{ form.recogida }}
                </div>
                <div class="form-group">
                  <label>Kilos recogidos</label>
                  {{ form.kilos }}
                </div>
                <div class="form-group">
                  <label>Dinero percibido</label>
                  {{ form.dinero }}
                </div>
                <div class="form-group">
                  <label>Campo</label>
                  {{ form.campo }}
                </div>
		<div class="box-footer">
	                <input type="submit" class="btn btn-block btn-primary" value="Añadir Campaña" />
		</div>
              </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</div>
{% endblock contenido %}
